<!--
<body>
  <div class='wrapper'>
	<div class='container'>
		<h1>Welcome</h1>
		<form class='form' name='form' (ngSubmit)='f.form.valid && login()' #f = 'ngForm' novalidate>
      <div class='form-group' [ngClass]='{ 'has-error': f.submitted && !username.valid }'>
        <input type='text' placeholder='Username'class='form-control' [(ngModel)]='username' #username='ngModel' required >
        <div *ngIf='f.submitted && !username.valid' class='help-block'>Username is required</div>
      </div>
      <div class='form-group' [ngClass]='{ 'has-error': f.submitted && !password.valid }'>
        <input type='password' placeholder='Password' class='form-control' name='password' [(ngModel)]='model.password' #password='ngModel' required>
        <div *ngIf='f.submitted && !password.valid' class='help-block'>Password is required</div>
      </div>
			<button type='submit' id='login-button' >Login</button>
		</form>
	</div>

	<ul class='bg-bubbles'>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
</body> -->
<body>

  <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>

		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
</body>
