<div class="ui segment">
  <div class="ui centered massive cards">

    <div class="brown massive card">
      <div class="image">
        <img src="../../assets/Logos/delhiDaredevilsLogo.png">
      </div>
      <div class="content">
        <div class="header">Delhi Dablackevils</div>
        <div class="description">
          #Dilliboys
        </div>
        <p></p>

          <a class="ui black huge label">Vikas Kaul</a>

          <a class="ui black huge label">Sandhya Padmanabha</a>

      </div>
      <div class="extra content">
        <div class="meta">
          Mentor: Nilesh Pawar
        </div>
      </div>
    </div>

    <div class="brown massive card">
      <div class="image">
        <img src="../../assets/Logos/ChennaiSuperKingsLogo.png">
      </div>
      <div class="content">
        <div class="header">Chennai Super Kings</div>
        <div class="description">
          Carry The Roar Along !!
        </div>
        <p></p>
        <span class="right floated">
          <a class="ui black huge label">Payal Chowksey</a>
        </span>
        <span>
          <a class="ui black huge label">Arvind Singh</a>
        </span>
      </div>
      <div class="extra content">
        <div class="meta">
          Mentor: Rajesh Thakur
        </div>
      </div>
    </div>


    <div class="brown massive card">
      <div class="image">
        <img src="../../assets/Logos/kingsXiPunjabLogo.png">
      </div>
      <div class="content">
        <div class="header">Kings XI Punjab</div>
        <div class="description">
          The Pride of Lions
        </div>
        <p></p>
        <span class="right floated">
          <a class="ui black huge label">Zara Latifi</a>
        </span>
        <span>
          <a class="ui black huge label">Harshal Jamdade</a>
        </span>
      </div>
      <div class="extra content">
        <div class="meta">
          Mentor: Amit Suryawanshi
        </div>
      </div>
    </div>



    <div class="brown massive card">
      <div class="image">
        <img src="../../assets/Logos/kolkataKnightRidersLogo.png">
      </div>
      <div class="content">
        <div class="header">Kolkata Knight Riders</div>
        <div class="description">
          New Dawn New Knights
        </div>
        <p></p>
        <span class="right floated">
          <a class="ui black huge label">Vidhi Dubey Jamdade</a>
        </span>
        <span>
          <a class="ui black huge label">Vipinkumar Saini</a>
        </span>
      </div>
      <div class="extra content">
        <div class="meta">
          Mentor: Bhaskar Lokhande
        </div>
      </div>
    </div>


    <div class="brown massive card">
      <div class="image">
        <img src="../../assets/Logos/mumbaiIndiansLogo.png">
      </div>
      <div class="content">
        <div class="header">Mumbai Indians</div>
        <div class="description">
          Duniya Hila Denge Hum
        </div>
        <p></p>
        <span class="right floated">
          <a class="ui black huge label">Monika Bole</a>
        </span>
        <span>
          <a class="ui black huge label"> Kalyan Roy</a>
        </span>
      </div>
      <div class="extra content">
        <div class="meta">
          Mentor: Akhilesh Dhancholia
        </div>
      </div>
    </div>


    <div class="brown massive card">
      <div class="image">
        <img src="../../assets/Logos/RajasthanRoyalsLogo.png">
      </div>
      <div class="content">
        <div class="header">Rajasthan Royals</div>
        <div class="description">
          The Supergiants Have Arrived
        </div>
        <p></p>
        <span class="right floated">
          <a class="ui black huge label">Anagha Pirangute</a>
        </span>
        <span>
          <a class="ui black huge label">Gourishankar K</a>
        </span>
      </div>
      <div class="extra content">
        <div class="meta">
          Mentor: Ashish Solanki
        </div>
      </div>
    </div>


    <div class="brown massive card">
      <div class="image">
        <img src="../../assets/Logos/royalChallengersBangaloreLogo.png">
      </div>
      <div class="content">
        <div class="header">Royal Challengers Bangalore</div>
        <div class="description">
          #PlayBold
        </div>
        <p></p>
        <span class="right floated">
          <a class="ui black huge label">Yogesh Kapadne</a>
        </span>
        <span>
          <a class="ui black huge label">Vanita Sukhani</a>
        </span>
      </div>
      <div class="extra content">
        <div class="meta">
          Mentor: Abhishek Bhatewara
        </div>
      </div>
    </div>


    <div class="brown massive card">
      <div class="image">
        <img src="../../assets/Logos/sunrisersHyderabadLogo.png">
      </div>
      <div class="content">
        <div class="header">Sunrisers Hyderabad</div>
        <div class="description">
          Rise Up to Every Challenge
        </div>
        <p></p>
        <span class="right floated">
          <a class="ui black huge label">Dev Ramchandani</a>
        </span>
        <span>
          <a class="ui black huge label">Rupa Sureshkumar</a>
        </span>
      </div>
      <div class="extra content">
        <div class="meta">
          Mentor: Aditya Kovoor
        </div>
      </div>
    </div>
  </div>
</div>
