<div class="ui inverted teal clearing segment">

    <img src="../../assets/Logos/HPLLogo.svg" height="40px"><span class="ui circular red label"> Season 4</span>

  <!-- <button class="ui right labeled black icon right floated button">
  <i class="right arrow icon"></i>
  Start Auction
  </button> -->
  </div>
 <div  *ngFor ='let d of data' >


  <div class="ui relaxed grid">
    <!-- <div class="one column centered row">
      <div class="sixteen wide column">

      </div>
    </div> -->
    <div class="row">
      <div class="two wide column">
      </div>
      <div class="six wide column">
        <h1 class="ui huge black label">About <div class=" detail"> {{d.FirstName | titlecase}} {{d.LastName | titlecase}}</div>  </h1>
        <h3 class="ui header">
          {{d.Description}}</h3>
        <h1 class="ui huge black label">
          Achievements
        </h1>

        <h3 class="ui header">
         "{{ d.Achievement}}"
        </h3>
        </div>
      <div class="six wide column">
          <div [routerLink]="['/teamPlayerDetail',d.FirstName , d.LastName, d.EmployeeId ]" class="ui fluid teal massive right labeled icon button">
              <i class="right chevron icon"></i>
              Bid
            </div>
            <!-- <div (click)='teamPlayerDetail()' class="ui fluid teal massive right labeled icon button"><i class="right chevron icon"></i>
              Bid
            </div> -->

              <div class="ui fluid  image">
               <img [src]= 'imagePath'>
                <div class="ui black ribbon huge label">
                    {{d.FirstName |titlecase}} {{d.LastName | titlecase}}
                  </div>

            </div>

          <!-- <div class="ui inverted black  center aligned segment">
              <h1 class="ui header">
                <b>Mukesh Singh</b>
              </h1>
            </div>
        <div class="ui basic segment">

          <div class="ui fluid   image">
            <img src="../../assets/Players/Koala.jpg">
          </div>
        </div> -->

      </div>
      <div class="two wide column">
      </div>
    </div>

  </div>
</div>
